  /* header */

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    font-style: normal;
	scroll-behavior: smooth;
}

.header {
    /*height: 100%;*/
    width: 100%;
    padding: 0 0%;
    position: relative;
    background-color: #188061;
}

nav {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0% 0% 0% 2%;
    background-color: white;
}

nav .logo {
    width: 15%;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    list-style: none;
    margin: 0 15px;
    transition: ease-in-out 0.3s;
}

nav ul li a {
    text-decoration: none;
    color: #ff8400;
    transition: ease-in-out 0.3s;
}

nav ul li a:hover {
    text-decoration: none;
    color: black;
    transition: ease-in-out 0.3s;
}

.cart :hover {
    color: black;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.search {
    position: relative;
    width: 40px;
    height: 40px;
    top: 12px;
    background: #ff8400;
    align-content: center;
    border-radius: 40px;
    justify-content: center;
    transition: 0.5s;
    box-shadow: 0 0 0 2px white;
    overflow: hidden;
}

.search.active {
    width: 260px;
}

.search .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: #ff8400;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.search .icon::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 10px;
    transform: translate(-1px, -1px) rotate(315deg)
}

.search .icon::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 8px;
    background: white;
    transform: translate(6px, 6px) rotate(315deg)
}

.search .input {
    position: relative;
    width: 120px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.searchid1 {
    position: absolute;
    padding-left: 10px;
    padding-bottom: 5px;
    height: 28px;
    right: 60px;
    border-radius: 7px;
    border: none;
    outline: navajowhite;
    background: #ff8400;
    font-weight: 300;
}

.cartin {
    border: none;
    font-family: 'Courier New', Courier, monospace;
    background: #ffffff;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    bottom: -2px;
    right: 15px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.5s;
}

.cartin:hover {
    cursor: pointer;
    width: 100px;
    background: #206746;
    border-radius: 40px;
    content: "";
}

.menuin {
    border: none;
    background: #ffffff;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 60px;
    bottom: -3px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1000;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
}

@font-face {
    font-family: ACETONE;
    src: url(../font/ACETONE.woff);
}


/* header end*/


/* footer*/

.LOGO2 {
    width: 20%;
    padding: 1% 0% 1%;
}

.footer {
    display: inline-flex;
    width:112%;
    margin-top: 2%;
    flex-flow: row wrap;
    padding: 50px;
    color: black;
    background-color: whitesmoke;
}

.footer>* {
    flex: 1 100%;
}

.l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.r-footer {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: center;
}

.r-footer>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: black;
}

.box a:hover {
    text-decoration: none;
    color: #ff8400;
    transition: ease-in-out 0.3s;
}

.h-box {
    column-count: 1;
    column-gap: 1.25em;
}

.b-footer {
    text-align: center;
    color: black;
    padding-top: 20px;
}

.l-footer p {
    padding-right: 20%;
    color: black;
}

@media screen and (min-width: 600px) {
    .r-footer>* {
        flex: 1;
    }
    .features {
        flex-grow: 1;
    }
    .l-footer {
        flex: 1 100px;
    }
    .r-footer {
        flex: 1 500px;
    }
}

.social1 {
    font-size: 25px;
    flex: content;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    color: #ff8400;
}


/* footer end*/




.main-btn{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #ff8400;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	
}


span{
	background: #ff8400; 
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}

button:hover span{
	width: 100%;
}
	
button:hover{
	border: none;
}





